{% extends 'base/master.html' %}
{% block body %}
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>Danh sách các cầu thủ</span></h2></div>
    </div>
    <section class=matchSchedule>
        <div class=container>
            <form>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-lg-6">
                        <input class="form-control" type="text" placeholder="Tìm kiếm theo tên" aria-label="Search" name="keyword">
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" type="text" placeholder="Tìm kiếm theo vị trí" aria-label="Search" name="position">
                    </div>
                    <div class="col-lg-2">
                        <button class="form-control" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Tên</th>
                  <th scope="col">Cao (cm)</th>
                  <th scope="col">Cân nặng (kg)</th>
                    <th scope="col">Vị trí</th>
                </tr>
              </thead>
              <tbody>
                 {% for player in playerList %}
                <tr>
                  <th scope="row">{{player.name}}</th>
                  <td>{{player.height}}</td>
                  <td>{{player.weight}}</td>
                  <td>{{player.position}}</td>
                </tr>
                 {% endfor %}
              </tbody>
            </table>
        </div>
    </section>
{% endblock %}