{% extends 'base/master.html' %}
{% block body %}
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>Danh sách các cầu thủ</span></h2></div>
    </div>
    <section class=matchSchedule>
        <div class=container>
                <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Tên</th>
                  <th scope="col">Số áo</th>
                  <th scope="col">Cao</th>
                  <th scope="col">Cân nặng</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Vị trí</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>
{% endblock %}