{% extends 'base/master.html' %}
{% block body %}
	<div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline><span>Giỏ hàng của bạn</span></h2></div>
    </div>
	<section class=cartwrap>
        <div class=cartshop>
            <div class=bg-red></div>
            <div class=container>
                <div class=row>
                    <div class=modal-body>
                        <div class="cartHeader clearfix">
                            <div class=header01><h4>your basket</h4></div>
                            <div class=header02><h4><span>you have selected <span class=cartitems></span> product</span>
                                <a href=#><i class="fa fa-cart-plus"></i> <span class=cartitems>1</span></a></h4>

                                <p>your order ID is 2221</p>

                                <p class=datetime></p></div>
                        </div>
                        <div class="card-item clearfix">
                            <div style="margin-top: 20px">
                                <div class=big-content><h4>Tên vé</h4></div>
                                <div class="big-content medium-content text-center"><h4>Số lượng</h4></div>
                                <div class="big-content small-content"><h4>Đơn giá</h4></div>
                            </div>
                            <div>
                                {% for product in productsincart %}
                                    <div class=big-content><h4>{{product[2]}}</h4></div>
                                    <div class="big-content medium-content text-center"><h4>{{product[3]}}</h4></div>
                                    <div class="big-content small-content"><h4>{{product[4]}} VNĐ</h4></div>
                                {% endfor %}
                            </div>
                            <div class="card-item cart-total clearfix">
                                <div class="big-content medium-content text-center"><h4 style="color:red">Tổng tiền</h4></div>
                                <div class="big-content small-content"><h4 id=carttotal style="color:red">{{totalsum}} VNĐ</h4></div>
                            </div>
                        </div>
                        <div class=modal-footer>
                            <button class=btn-red>Mua ngay</button>
                        </div>
                        <div class=center><a href=shopcart02.html class="btn btn-red">Lưu giỏ hàng và quay lại chọn vé</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}